.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
/src/App2.vue
/src/views/Adform.vue
/src/views/Adform2.vue
/src/Appa.vue
/src/store/index2.js
/src/components/SideNavss.vue
.firebase/hosting.ZGlzdA.cache
.firebaserc